<html lang="en">
<head>
  <title>Easy Spring Auth</title>
  <!-- <link rel="stylesheet" href="/css/sakura.css" type="text/css"> -->
</head>
<body>
  <nav>
    <h1>Easy Spring Auth</h1>
  </nav>
  <main>
    <table>
      <thead>
        <tr>
          <th>uuid</th>
          <th>username</th>
          <th>password</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of easyUserList">
          <td>{{ user.uuid }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.password }}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3">
            <button (click)="createUser()">
              Create new User
            </button>
          </td>
        </tr>
      </tfoot>
    </table>
  </main>
</body>
</html>